.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  color: white;
}

.container > div {
  text-align: center;
}

.container h1 {
  font-size: 2em;
  line-height: 1.5;
}

.container p {
  font-size: 1.2em;
}

.container button {
  padding: 15px 30px;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #4caf50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  transition-duration: 0.4s;
}

.container button:hover {
  background-color: #2d9e33;
}
